@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Inter", sans-serif;
  }

  @supports (font-variation-settings: normal) {
    body {
      font-family: "Inter var", sans-serif;
    }
  }
}
